.button {
    text-align: center;
    font-size: 16px;
    padding:0.5rem 0.8rem;
    cursor:pointer;
}
.button:hover{
    background-color: #ccc;
}
.roundedButton {
    text-align: center;
    font-size: 16px;
    padding:0.8rem 0.8rem;
    cursor: pointer;
    background-color: #1D9BF0;
    border-radius: 30px;
    color: white;
    font-weight: bold;
    /* border: 2px solid black; */
}
.border {
    
    border-bottom:2px solid #1D9BF0;
}
.center {
    width: fit-content;
    margin: 0 auto;
    box-sizing: border-box;
}
.fit {
    width: fit-content !important;
}